<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   <appSettings>
        <add key="BlackedExtensions" value=".JPG,.JPEG,.PNG,.GIF,.PDF,.EPS,.ZIP"/>
        <add key="DefaultUrl" value="http://GoCardless.com/"/>
        <add key="PlayNice" value="true"/>
    </appSettings>
</configuration>